{% extends "layout.html" %}
{% block body %}
  <br>
  <br>

  <p class="h1 text-center fw-bold text-info">くま談</p>
  <a href="/">リセット</a>
  <form method=post>
    <div class="input-group mb-3 input-group-lg">
      <label class="input-group-text" for="inputGroupSelect01">相談</label>
      <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" name=input
      value="{{request.form.input }}">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon1" value="送信">送信</button>
    </div>
  </form>

  {% if not number %}
  <div style="margin: 0 auto; display: table;">
    <audio src="sound/intro" autoplay="autoplay" controls></audio>
  </div>
  {% endif %}

  <br>
  <br>
  
  <div class="card mb3">
    <div class="card-header">出力結果</div>
    <div class="card-body">
      {% if number %}
        <h1 class="display-1 card-text text-center"> <a href="tel:電話番号いれてね">{{number}}</a></h1>
        <div style="margin: 0 auto; display: table;">
            <!-- ファイル名をランダムにすることでキャッシュからの読み込みを防ぐ -->
          <audio src="sound/message{{rand}}" autoplay="autoplay" ></audio></p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}