{% extends "layout.html" %}
{% block body %}
  {% if not msg %}
    <audio src="sound/intro" autoplay="autoplay" controls></audio>
  {% endif %}
  <h1>くま談</h1>
  <form method=post>
    <dl>
      <dt>相談:
      <dd>
        <input 
            type=text
            name=input
            value="{{request.form.input }}"
        >
    </dl>
    <p><input type=submit value=送信>
  </form>
  {% if msg %}
    <p> {{msg}}</p>
  {% endif %}
  {% if script %}
    <p> {{script}}</p>
  {% endif %}
  {% if number %}
    <p> <a href="tel:{{number}}">{{number}}</a> に電話をかけますか？</p>
    <audio src="sound/message" autoplay="autoplay" ></audio>
  {% endif %}
{% endblock %}